body {
  font-family: Helvetica;
  margin: 0;
  letter-spacing: 0.25px;
  background-color: #f4f7f9;
}

.steps {
  box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.2);
  padding: 25px;
  background: #fff;
  max-width: 800px;
  margin: 2em auto;
  border-radius: 5px;
}

button {
  margin-top: 1em;
  background-color: #673ab7;
  padding: 10px 25px;
  display: block;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}
